################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/schoenhagestrassen/v15/.suo
/.vs/schoenhagestrassen/v15/Browse.VC.db
/.vs/schoenhagestrassen/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/schoenhagestrassen/v15/ipch/AutoPCH/d095a2b1eafcc906/SCHOENHAGESTRASSEN.ipch
